*.o
*.a
*.iso
*.s
*.sym
*.log
*.pce
*.sgx
examples/shmup/bgm.asm
src/huc/huc
src/isolink/isolink
src/mkit/as/fujias
src/mkit/as/nesasm
src/mkit/as/pceas
src/mkit/as/pngread/pngread.a
src/mkit/develo/execmx
src/mkit/develo/getrom
src/mkit/develo/perun
src/tools/mml/mml
src/tools/mod2mml/mod2mml
src/tools/pcxtool/pcxtool
tgemu/tgemu
